// Base variables
@imagePath: "../../../base/images";
@spritePath: "@{imagePath}/sprite-ckan-icons.png";
@bgPath: "@{imagePath}/bg.png";
@FontAwesomePath: "../../../base/vendor/font-awesome/font";

// Layout Variables
//@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300);
//@import url(https://www.google.com/fonts#UsePlace:use/Collection:Fira+Sans:400,300,700);
@import url(https://code.cdn.mozilla.net/fonts/fira.css);
@layoutFontFamily: 'Fira Sans', Helvetica, Arial, sans-serif;

@layoutTextColor: #333333;
@layoutBoldColor: #000;
@layoutLinkColor:  #004a61;
@layoutLinkHoverColor: #075D79;
@layoutBackgroundColor: #EEEEEE;
@layoutTrimBackgroundColor: #FFFFFF;
@layoutTrimBorderColor: #CCCCCC;
@layoutTagBackgroundColor: #BADAE2;
@layoutToolbarColor: #333;
@layoutToolbarBackgroundColor: #FFB100;
@layoutNumsBackgroundColor: #EDF9FD;

@mastheadTextColor: #FFFFFF;
@mastheadLinkColor: @mastheadTextColor;
@mastheadBackgroundColor: #117799;
@mastheadBackgroundColorStart: #005d7a;
@mastheadBackgroundColorEnd: #00536b;
@masterheadLoginBackgroundColor: #004A61;
@masterheadLoginHoverBackgroundColor: @layoutToolbarBackgroundColor;
@masterheadFeedbackTextColor: @layoutTextColor;
@masterheadFeedbackBackgroundColor: #FFB100;
@masterheadSeachIconBackgroundColor: #004a61;
@masterheadSearchButtonBackgroundColor: #349eb7;
@masterheadSearchBoxColor: #FFFFFF;
@masterheadStripBackgroundColor: #349EB7;
@masterheadInfoBackgroundColor: #E8E8E8;

@footerTextColor: #FFFFFF;
@footerBackgroundColor: #0c536b;
@footerLinkColor: @footerTextColor;
@focusOnBlueBg: @footerTextColor;

//Tab Navigation
@tabBackgroundColor: #117799;
@tabTextColor: #117799;
@tabHoverTextColor: #FFFFFF;

// Table
@chunkyTableHeaderTextColor: #FFFFFF;
@chunkyTableHeaderBackgroundColor: #AAAAAA;
@chunkyTableStripeBackgroundColor: #F2F2F2;

// Social Icons
@socialTextColor: #FFFFFF;
@socialBackgroundColor: #117799;
@socialLinkHoverColor: #034960;

// Home page Categories
@boxLandBackgroundColor: #00789A;
@boxHealthBackgroundColor: #005e7a;
@boxGovernmentBackgroundColor: #004A61;
@boxEnvironmentBackgroundColor: #FFB100;
@boxTransportBackgroundColor: #CC8900;
@boxEducationBackgroundColor: #A16B00;
@boxStateBackgroundColor: #FF8400;
@boxPopulationBackgroundColor: #CE6300;
@boxArtsBackgroundColor: #A34D00;

// Stats Totals
@statsTextColor: #FFFFFF;
@statsDatasetsBackgroundColor: #0084A0;
@statsOrganizationsBackgroundColor: #005E7A;
@statsGroupsBackgroundColor: #004A61;
@statsShowcaseBackgroundColor: #003648;


// Responsive breakpoints
@media-widescreen: 1200px;
@media-desktop: 980px;
@media-tablet: 768px;
@media-phone: 480px;


//==============================================
// Base
//==============================================

.container::before, .container::after {
  content: "";
  display: table;
  line-height: 0;
}
.container::after {
  clear: both;
}
.container::before, .container::after {
  content: "";
  display: table;
  line-height: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
body {

  font-family: @layoutFontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: @layoutTextColor;
  overflow-x: hidden;


  .notification-bar {
    background-color: @masterheadFeedbackBackgroundColor;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-weight: normal;

    @media (max-width: @media-tablet) {
      margin: 0 -9999em;
      padding: 0 9999em;
    }
  }

  &.home {

    @media (max-width:@media-tablet){
      background: @masterheadInfoBackgroundColor;
    }

    .masthead {
      border-bottom: 10px solid @masterheadStripBackgroundColor;
      .navigation {
        margin-right: -25px;
      }
    }

    // Styling of home page news and event block
    .categories {
      padding-bottom: 0;
      @media (min-width:@media-tablet) {
        .span4 {
          width: 238px;
          border-right: 1px solid @mastheadTextColor;
        }
        .span4:first-child {
          border-left: 1px solid @mastheadTextColor;
        }

        .span4:nth-child(2),
        .span4:nth-child(3) {
          margin-left: 0;
        }
      }

      @media (min-width:@media-desktop) {
        padding-bottom: 50px;
        .span4 {
          width: 311px;
          border-right: 1px solid @mastheadTextColor;
        }

        .span4:first-child {
          border-left: 1px solid @mastheadTextColor;
        }

        .span4:nth-child(2),
        .span4:nth-child(3) {
          margin-left: 0;
        }
      }

    }

    .info {
      margin-left: 0;

      .news,
      .event {
        background-color: @masterheadInfoBackgroundColor;
      }

      h2 {
        padding-top: 55px;

        @media (max-width: @media-tablet) {
          padding-top: 30px;
        }
      }

      h3 {
        font-size: 16px;
        font-weight: bold;
        color: @layoutLinkColor;
      }

      .span8.news {
        margin: 0 -9999rem;
        /* add back negative margin value */
        padding: 0.25rem 9999rem 3.5rem 9999rem;
        p {
          padding: 15px 0;
        }
        @media (max-width: @media-tablet) {
          margin:0;
          padding: 0;
        }
      }

      .span4.event {
        margin-left:20px;
        p {
          padding: 15px 0;
        }
        @media (max-width: @media-tablet) {
          margin:0;
        }
      }
    }


    .site-search {
      display: none;
    }

    .heading h2 {
      margin-top: 110px;

      @media (max-width: @media-tablet) {
        margin-top: 50px;

      }

    }
  }

  //font-family: @layoutFontFamily;
  //font-style: normal;
  //font-weight: normal;
  //font-size: 16px;
  //color: @layoutTextColor;
  //overflow-x: hidden;

  h1 {
    font-size: 36px;
    line-height: 1.2;
    color: @layoutTextColor;

    @media (max-width: @media-desktop) {
      font-size: 30px;
    }
  }

  h2 {
    font-size: 30px;
    line-height: 1.2;
    color: @layoutTextColor;
    @media screen and (min-width: @media-tablet) {
      font-size: 28px;
    }
    @media screen and (min-width: @media-widescreen) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 1.2;
    color: @layoutTextColor;
  }


  a {
    color: @layoutLinkColor;
    &:hover {
      color: @layoutLinkHoverColor;

    }
  }

  p {
    padding: 15px;
  }

  .context-info h1.heading,
  h2,
  h3,
  .media-heading {
    word-break: normal;
  }

  .icon-medium,
  .icon-info-sign,
  .icon-building {
    display: none;
  }

}

//==============================================
//Navigation
//==============================================


//==============================================
// Header styling
//==============================================
header.account-masthead {
  background: @mastheadBackgroundColor;

  .account.authed .image {
    padding: 5px 6px;
  }

  .account li.feedback {
    background-color: @boxEnvironmentBackgroundColor;
    color: @masterheadFeedbackTextColor;
    a {
      color: @masterheadFeedbackTextColor;
      font-weight: normal;
    }
    a:hover {
      color: @mastheadTextColor;
    }
  }

  .account ul li {
    border: none;
    background: @masterheadLoginBackgroundColor;
    a {
      padding: 5px 15px;
      &:hover {
        background-color: @masterheadLoginHoverBackgroundColor;
      }
    }
  }

}

.masthead {
  background-image: none;
  min-height: 55px;

  .nav > li > a {
    border-radius: 0;
    height: 20px;
    &:hover {
      background-color: @layoutToolbarBackgroundColor;
    }
  }


  .simple-input {
    height: 30px;
    float: right;
    margin: 8px 2px 7px 2px;
  }

  .site-search input {
    font-size: 16px;
    height: 38px;
    padding: 4px 10px;
    width: 260px;
    border-radius: 3px;
    line-height: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
    vertical-align: middle;
    margin: 0;
    box-sizing: border-box;
    margin-top: -5px;
    border: none;
    -webkit-font-smoothing: antialiased;
  }
}

//==============================================
// Banner styling
//==============================================
.homepage {

  //@media (max-width:@media-tablet){
  //  background-color: @masterheadInfoBackgroundColor;
  //}

  .hero {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 300px;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;

    @media (max-width: @media-tablet) {
      background: none;
      min-height: 0;
    }

      // Style home page search bar
    .module-search {
        opacity: 0.9;
        margin: 0 auto;
        position: relative;
        top: 85px;
        z-index: 1;
        border: none;
        border-radius: 0;
        background-color: @masterheadSeachIconBackgroundColor;
        width: 85%;
        padding:0;

        @media (max-width: @media-desktop) {
          width: 96%;
        }

        @media (max-width: @media-tablet) {
          top: 0;
          width: 100%;
        }

        .search-giant input {
          border: none;
        }

        .tags {
          background-color: @layoutTrimBackgroundColor;
          border-radius: 0;
          border: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          text-align: right;
          @media (max-width: @media-tablet) {
            text-align: left;
            background-color: @layoutBackgroundColor;
          }

          a {
            position: relative;
            display: block;
            margin-left: 30px;
            max-height: 30px;

            &:hover {
              background-color: @layoutLinkHoverColor;
              color: @socialTextColor;
            }

            &:hover:before {
              border-right-color: @layoutLinkHoverColor;
            }
          }

          a:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 12px 15px 0;
            border-color: transparent #BADAE2 transparent transparent;
            display: block;
            top: -2px;
            left: -12px;
          }

          h3 {
            display: inline-block;
            @media (max-width: @media-tablet) {
              display: block;
            }

          }

          .tag {
            float: right;
            border-radius: 0;
            background-color: @layoutTagBackgroundColor;
            box-shadow: none;
            padding: 3px 10px;
            margin: 5px 5px 5px 15px;
            display: inline-block;

            @media (max-width: @media-tablet) {
              float: none;
            }
          }
        }

        .module-content, .tags {
          background-color: @masterheadSeachIconBackgroundColor;


          .heading {
            color: @masterheadSearchBoxColor;
          }

          h3 {
            color: @masterheadSearchBoxColor;
            float: none;
          }

        }
      }

  }
}

//==============================================
//Footer
//==============================================
.site-footer {
  background: @footerBackgroundColor;
  @media (max-width: @media-tablet) {
    padding: 10px;
  }
}

//==============================================
// Home page styling
//==============================================
.homepage {

  // Home page category blocks styling
  .categories .module-content {
    margin-top: 0;

    &.land {
      .catBox(@boxLandBackgroundColor);
    }
    &.health {
      .catBox(@boxHealthBackgroundColor);
    }
    &.government {
      .catBox(@boxGovernmentBackgroundColor);
    }
    &.environment {
      .catBox(@boxEnvironmentBackgroundColor);
    }
    &.transport {
      .catBox(@boxTransportBackgroundColor);
    }
    &.education {
      .catBox(@boxEducationBackgroundColor);
    }
    &.state {
      .catBox(@boxStateBackgroundColor);
    }
    &.population {
      .catBox(@boxPopulationBackgroundColor);
    }
    &.arts {
      .catBox(@boxArtsBackgroundColor);
    }
  }

  .row {

    @media (max-width: @media-tablet) {
      margin-top: 0;
    }

    .box {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }


  // Style Content blocks (categories)
  .box {
    .inner {
      padding: 0;


      h3 {
        display: none;
      }
    }
    &.stats {
      background: transparent;
      width: 940px;
      margin-left: auto;
      margin-right: auto;
      margin-top:  0;
      border: none;
      box-shadow: none;
      border-radius: 0;
      @media (max-width: @media-desktop) {
        width: 690px;
      }
      @media (max-width: @media-tablet) {
        width: 450px;
      }
    }
  }

  .stats ul {
    text-align: right;
    font-size: 0;
    li {
      display: inline-block;
      float: none ;
      width: auto ;
      font-size: 16px;
    }

    li:nth-child(1) a {
      background-color: @statsDatasetsBackgroundColor;
    }

    li:nth-child(2) a {
      background-color: @statsOrganizationsBackgroundColor;
    }

    li:nth-child(3) a {
      background-color: @statsGroupsBackgroundColor;
    }

    li:nth-child(4) a {
      background-color: @statsShowcaseBackgroundColor;
    }

  }
  .stats ul li a {
    color: @statsTextColor;
    text-align: center;
    display: inline-block;
    height: 90px;
    width: 110px;
    font-weight: 700;
  }

}

//==============================================
// Plain page styling (primary & sidebar)
//==============================================

// Primary
.simple-input .field .btn-search {
  background-color: @masterheadSearchButtonBackgroundColor;
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 38px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: 0;
  top: -5px;
  transition: color 0.2s ease-in 0s;
  vertical-align: middle;
  width: 55px;
  border-radius: 0 3px 3px 0;
  margin: 0;
  font-size: 20px;
}

.simple-input .field .btn-search .icon-search {
  font-size: 20px;
}

.btn-secondary {
  color: #333;
  background-color: #ffc645;
  background-image: -moz-linear-gradient(top, #ffc645, #e8a200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc645), to(#e8a200));
  background-image: linear-gradient(to bottom, #ffc645, #e8a200);
  text-shadow: none;

  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    background-color: #ffb100;
    color: #333;
  }
}

.toolbar {
  background-color: @layoutToolbarBackgroundColor;
  color: @layoutToolbarColor;

  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  margin: -10px -9999rem 0;

  .breadcrumb > li > a {
    color: @layoutToolbarColor;
    font-size: 14px;
    text-shadow: none;
  }

  .icon-home:before {
    font-family: @layoutFontFamily;
    content: "Home";
    vertical-align: -16%;
  }

  .breadcrumb .home .icon-home {
    font-size: 14px;
    width: 24px;
    vertical-align: 3px;
  }

  .breadcrumb li::after {
    font-family: FontAwesome;
    content: "\f105";
    padding-left: 10px;
    padding-right: 5px;
  }
}

.wrapper {
  background-color: @layoutTrimBackgroundColor;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.05);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.05);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.05);
  background-image: none;
  margin-bottom: 60px;
  padding-top: 60px;
}

.primary {

  @media (min-width: @media-tablet) and (max-width: 979px) {
    .resource-item .btn-group {
      position: relative;
      padding-bottom: 15px;
      padding-left: 10px;
    }
  }

  header.module-content.page-header {
    border-bottom: 1px solid @tabBackgroundColor;
    background-color: @layoutBackgroundColor;

    @media (min-width: @media-tablet) {
      background-color: @layoutTrimBackgroundColor;
      width: 100%;
    }

    margin-left: 0;
  }

  // Styling of tab navigation
  .page-header .nav-tabs li.active a, .page-header .nav-tabs a:active {
    color: @tabHoverTextColor;
    background-color: @tabBackgroundColor;
    border: 1px solid @tabBackgroundColor;
  }

  .nav-tabs > li > a {
    color: @tabTextColor;
  }

  .nav-tabs > li > a:hover {
    color: @tabHoverTextColor;
    background-color: @tabBackgroundColor;
  }

  .nav-tabs {
    border-bottom: 1px solid @tabBackgroundColor;
    @media (max-width: @media-tablet){
      color: @layoutBackgroundColor;
      border: none;
    }
  }

  .nav-tabs>li>a {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    color: @tabTextColor;
  }

  .nav-tabs>li>a:hover {
    border: none;
  }

  // Styling of Data and Resources
  .resource-list {
    .heading {
      color: @layoutLinkColor;
      text-decoration: underline;
    }

    & li.resource-item {
      border-top: 1px solid @layoutTrimBorderColor;
      border-radius: 0;
    }

    & li.resource-item:last-child {
      border-bottom: 1px solid @layoutTrimBorderColor;
      border-radius: 0;
    }
  }

  //File types color styling
  .dataset-resources li a {
    background: @tabBackgroundColor;
  }

  // Styling of explore button
  .btn.btn-primary {
    color: @layoutTrimBackgroundColor;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: @layoutLinkColor;
    border: 0;
    background-image: -moz-linear-gradient(top,@layoutLinkColor,@layoutLinkColor);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(@layoutLinkColor),to(@layoutLinkColor));
    background-image: -webkit-linear-gradient(top,@layoutLinkColor,@layoutLinkColor);
    background-image: -o-linear-gradient(top,@layoutLinkColor,@layoutLinkColor);
    background-image: linear-gradient(to bottom,@layoutLinkColor,@layoutLinkColor);
    border-radius: 0;
  }
  ul.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
  }

  // Styling of Tags
  .tag-list {
    padding-left: 0;
    margin: 0 0 0 -25px;

    li {
      margin-right: -10px;
      line-height: 20px;
    }

    &.well {
      background-color: @layoutTrimBackgroundColor;
      border-radius: 0;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
      @media (max-width:@media-tablet){
        background-color: @layoutBackgroundColor;
      }

      a {
        position: relative;
        display: block;
        margin-left: 30px;
        max-height:30px;

        &:hover{
          background-color: @layoutLinkHoverColor;
          color: @socialTextColor;
        }

        &:hover:before {
          border-right-color: @layoutLinkHoverColor;
        }
      }

      a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 12px 15px 0;
        border-color: transparent #BADAE2 transparent transparent;
        display: block;
        top: 0;
        left: -12px;
      }
    }

    .tag {
      border-radius: 0;
    }

    a.tag {

      font-size: 14px;
      padding: 5px 10px;
      color: @layoutLinkColor;
      background-color: @layoutTagBackgroundColor;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
    }
  }

  // Style additional info table
  .additional-info {
    padding-top: 30px;

    .table {
      border-bottom: 1px solid @layoutTrimBorderColor;
      border-right: 0;
      border-radius: 0;
      font-size: 14px;
    }

    thead th {
      border-bottom: 1px solid @layoutTrimBorderColor;
    }

    .table-bordered th, .table-bordered td {
      border-left: 0;
      border-right: 0;
    }

    .table th, .table td {
      border-top: 0;
    }

  }
}


// Sidebar
aside.secondary {

  .module.module-narrow {
    background-color: @layoutBackgroundColor;

    h1.heading {
      margin: 0 0 0 0;
      background-color: @masterheadLoginBackgroundColor;
      color: @layoutTrimBackgroundColor;
      padding: 15px;
      font-size: 16px;

      @media (max-width: @media-tablet) {
        display: table;
        content: "";
        line-height: normal;
        width: 100%;
      }

      @media (max-width:@media-phone) {
        width: 94%;
      }
    }

    .module-content {
      padding:0;
    }

    p.module-content {
      padding: 15px;
      word-break: normal;
    }

    img {
      margin: 0 auto;
    }

    .nums {
      margin-top: 0;
      border-top: 0;
      background-color: @layoutNumsBackgroundColor;
      padding: 15px;
      dl {
        color: @layoutLinkColor;
      }
      dt {
        font-size: 14px;
        font-weight: 700;
      }
      dd {
        font-size: 54px;
        font-weight: normal;
        margin-top: 10px;
      }
    }

    .context-info {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent @masterheadLoginBackgroundColor;
        display: block;
        top: 5px;
        right: -15px;
        @media (min-width: @media-tablet) and (max-width: @media-desktop) {
          left: 166px;
        }
        @media (max-width: @media-tablet) {
          border: none;
        }
      }

    }

    h2.module-heading {
       padding-left: 15px;
       border: none;
       background-color: @layoutBackgroundColor;
      .action {
        color: @layoutTextColor;
      }
    }


    &.context-info {
      h1.heading {
        font-size: 14px;
      }
      p {
        font-size:13px;
      }
    }


    .nav-simple > li, .nav-aside > li {
      display: block;
      margin: 0;
      padding: 0;
      width: auto;
      border-bottom: 1px dotted @layoutTrimBorderColor;

      a {
        margin-left: 0;
        padding-left: 10px;
      }

      & a:hover {
        color: #fff;
        background-color: #91A4AA;
      }
    }

    .nav-item > a, .nav-aside li a {
      margin: 0 0 0 10px;
      padding:5px;
      font-size: 14px;
    }


    &.social {

        [class^="icon-"]:before {
          display: inline;
        }

        .fa-google-plus-square{
          border-radius: 100%;
          padding: 12px;
          font-size: 20px;
          color: @socialTextColor;
          background-color: @socialBackgroundColor;

          &:before {
            content: "\f0d5";

          }

          &:hover {
            background-color: @layoutLinkHoverColor;
          }
        }

        .fa-twitter-square {
          border-radius: 100%;
          padding: 12px;
          font-size: 20px;
          color: @socialTextColor;
          background-color: @socialBackgroundColor;

          &:before {
            content: "\f099";
          }

          &:hover {
            background-color: @layoutLinkHoverColor;
          }
        }

        .fa-facebook-square {
          border-radius: 100%;
          padding: 12px;
          font-size: 20px;
          color: @socialTextColor;
          background-color: @socialBackgroundColor;

          &:before {
            content: "\f082";
          }

          &:hover {
            background-color: @layoutLinkHoverColor;
          }
        }

      //Display icons inline instead
      .nav-simple{
        background-color: @layoutBackgroundColor;

        padding-bottom: 10px;

        & > li {
          padding: 15px 25px 5px;

          @media (min-width: @media-tablet) and (max-width: @media-desktop){
            padding: 15px 23px 0;
          }
        }

        a {
          font-size: 0;
        }

        & > li {
          width: 0;
          float: none;
          display: inline-block;
          border: none;
          & > a:hover {
            background-color: transparent;

          }
        }
      }
    }

    &.license {
      a {
        font-size: 13px;
      }
    }
  }

}
/* override for rua styling */
@media screen and (min-width: @media-widescreen) {
  body h2 {
    line-height: 1.2;
  }
}
