{% ckan_extends %}


{% block links %}

{# see DATA-390 Copied from the global theme, because we do not want to include the override of the links block done by the ckanext-dcat plugin #}
    <link rel="shortcut icon" href="{{ g.favicon }}" />
{% endblock %}

{# Show the search form at the very top instead (with a heading added) #}
{% block pre_primary %}
  <section class="search-result-heading">
    {% block search_results_heading %}
      {% snippet 'snippets/search_results_heading.html', type='dataset', query=c.q %}
    {% endblock %}

    {% set facets = {
      'fields': c.fields_grouped,
      'search': c.search_facets,
      'titles': c.facet_titles,
      'translated_fields': c.translated_fields,
      'remove_field': c.remove_field }
    %}
    {% set sorting = [
      (_('Relevance'), 'score desc, metadata_modified desc'),
      (_('Name Ascending'), 'title_string asc'),
      (_('Name Descending'), 'title_string desc'),
      (_('Last Modified'), 'metadata_modified desc'),
      (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
    %}
    {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
  </section>
{% endblock %}


{% block page_primary_action %}
  {% if h.check_access('package_create') %}
    <div class="page_primary_action">
      {% link_for _('Add Dataset'), controller='dataset' if h.check_ckan_version('2.9') else 'package', action='new', class_='button', icon='plus-square' %}
    </div>
  {% endif %}
{% endblock %}

{# Override where the form was to just show the result count part #}
{% block form %}

  {% block search_title %}
    {% if not c.query_error %}
      <h2>{% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='dataset' %}</h2>
    {% else %}
      <h2>Error</h2>
    {% endif %}
  {% endblock %}

  {% if show_empty and count == 0 and not error %}
    {% trans %}
      <p class="extra">Please try another search.</p>
    {% endtrans %}
  {% endif %}

  {% if error %}
    {% trans %}
      <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
    {% endtrans %}
  {% endif %}

{% endblock %}


{# Add a link to add datasets below search results #}
{% block package_search_results_api_inner %}
  <div class="search-result-api-message message">
    <span class="fa fa-lightbulb-o"></span>
    {{ super() }}
  </div>
  <div class="search-result-bottom-link">
    Can't find it?
    <a href="{{ h.parent_site_url() }}/request-data/" title="Search for requested datasets or create a new request" class="button">Request a dataset</a>
  </div>
{% endblock %}


{% block secondary_content %}

<a href="#filters" class="visuallyhidden focusable skip-to-content">Skip map</a>

{% snippet "spatial/snippets/spatial_query.html", default_extent="[[-35, 167], [-47, 180]]" %}


<div id="filters" class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}

