@font-face {
  font-family: "rua-font";
  src: url('../fonts/rua-font.eot');
  src: url('../fonts/rua-font.eot?#iefix') format('eot'),
    url('../fonts/rua-font.woff2') format('woff2'),
    url('../fonts/rua-font.woff') format('woff'),
    url('../fonts/rua-font.ttf') format('truetype'),
    url('../fonts/rua-font.svg#rua-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ri:before {
  display: inline-block;
  font-family: "rua-font";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ri-1\.5x { font-size: 1.5em; }
.ri-2x { font-size: 2em; }
.ri-3x { font-size: 3em; }
.ri-4x { font-size: 4em; }
.ri-5x { font-size: 5em; }
.ri-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.ri-arrow-down:before { content: "\EA01" }
.ri-arrow-left:before { content: "\EA02" }
.ri-arrow-right:before { content: "\EA03" }
.ri-arrow-up:before { content: "\EA04" }
.ri-check:before { content: "\EA05" }
.ri-chevron-down:before { content: "\EA06" }
.ri-chevron-left:before { content: "\EA07" }
.ri-chevron-right:before { content: "\EA08" }
.ri-chevron-up:before { content: "\EA09" }
.ri-cog:before { content: "\EA0A" }
.ri-copy:before { content: "\EA0B" }
.ri-cross:before { content: "\EA0C" }
.ri-dashboard:before { content: "\EA0D" }
.ri-dataset:before { content: "\EA0E" }
.ri-envelope:before { content: "\EA0F" }
.ri-external-link:before { content: "\EA10" }
.ri-facebook:before { content: "\EA11" }
.ri-gavel:before { content: "\EA12" }
.ri-home:before { content: "\EA13" }
.ri-linkedin:before { content: "\EA14" }
.ri-lock:before { content: "\EA15" }
.ri-logout:before { content: "\EA16" }
.ri-pencil:before { content: "\EA17" }
.ri-pin:before { content: "\EA18" }
.ri-plus:before { content: "\EA19" }
.ri-print:before { content: "\EA1A" }
.ri-resource:before { content: "\EA1B" }
.ri-search:before { content: "\EA1C" }
.ri-twitter:before { content: "\EA1D" }
.ri-youtube:before { content: "\EA1E" }
