<div role="main" class="hero">

  {% snippet 'home/snippets/stats.html' %}
    <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" id="content">
 <div class="container">
  <div class="row heading">
       <h2 class="span12">Top Groups</h2>
       </div>
       <div class="row categories">
	       <div class="span4">
	           <div class="module-content government">

	               <h3><i class="fa fa-map-marker" aria-hidden="true"></i><a href="/group/land">Land</a></h3>
	           </div>

	           <div class="module-content government">

	               <h3><i class="fa fa-plus-sign-alt" aria-hidden="true"></i><a href="/group/health">Health</a></h3>
	           </div>

	           <div class="module-content government">

    	               <h3><i class="fa fa-sitemap" aria-hidden="true"></i><a href="/group/local-government">Local government</a></h3>
	           </div>
	       </div>

	       <div class="span4">
	           <div class="module-content government">

       	               <h3><i class="fa fa-leaf" aria-hidden="true"></i><a href="/group/environment">Environment</a>
                       </h3>
       	           </div>
	           <div class="module-content government">

                       <h3><i class="fa fa-road" aria-hidden="true"></i><a href="/group/transport">Transport</a></h3>
                   </div>
	           <div class="module-content government">

  	               <h3><i class="fa fa-eye" aria-hidden="true"></i><a href="/group/education">Education</a></h3>
  	           </div>
	       </div>

	       <div class="span4">
	           <div class="module-content government">

       	               <h3><i class="fa fa-gavel" aria-hidden="true"></i><a href="/group/state-sector">State sector</a></h3>
       	           </div>

	           <div class="module-content government">

                       <h3><i class="fa fa-users" aria-hidden="true"></i><a href="/group/population-and-society">Population and society</a></h3>
                   </div>

                   <div class="module-content government">

  	               <h3><i class="fa fa-flag" aria-hidden="true"></i><a href="/group/arts-culture-and-heritage">Arts, culture, and heritage</a></h3>
  	           </div>
	       </div>
	</div>
          <div class="row info">
      	    <div class="span8 news">
      	      <h2>Feedback</h2>
      	      <h3>Let us know what you think</h3>
      	      <a href='https://www.govt.nz/browse/engaging-with-government/feedback-on-beta-data-govt-nz'><img src="base/images/feedback.jpg" alt="People giving feedback"></a>
              <p>We are asking users of this beta data.govt.nz to give us some feedback and be part of improving quality open data submissions and provision in New Zealand.</p>
              <a href='https://www.govt.nz/browse/engaging-with-government/feedback-on-beta-data-govt-nz'>Go to User Survey</a>
      	    </div>
      	    <div class="span4 event">
      	     <h2>Newsletter</h2>
      	      <h3>Open Data Showcase</h3>
              <a href='http://us12.campaign-archive2.com/?u=1f35174f34ef8c77f7413ddb0&id=4a539406ee&e=798911d6ba'><img src="base/images/od-logo.png" alt="Open Data Logo"></a>

      	      <p>Get updated on the latest in open data in New Zealand and subscribe.</p>
              <a href='http://us12.campaign-archive2.com/?u=1f35174f34ef8c77f7413ddb0&id=4a539406ee&e=798911d6ba'>Go to Newsletter</a>
          </div>
      </div>
</div>
