{% ckan_extends %}

{% block styles %}
    {{ super()  }}
    {% if h.check_ckan_version('2.9') %}
        {% asset 'dia_theme/dia_custom_style' %}
    {% else %}
        {% resource 'dia_theme/dia_custom.css' %}
        {% resource 'dia_theme/dia_custom.js' %}
        {% resource 'dia_theme/rua/css/rua-font.css' %}
        {% resource 'dia_theme/rua/css/rua.css' %}
        {% resource 'dia_theme/rua/js/rua.js' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% asset 'dia_theme/dia_custom_script' %}
{% endblock scripts %}
