{% ckan_extends %}

{%- block htmltag -%}
{% set lang = "en_AU" %}
<!--[if IE 7]> <html lang="{{ lang }}" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="{{ lang }}" class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="secondary-three" lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}

{% block styles %}
    {{ super()  }}
    {% asset 'dia_theme/dia_style' %}
    {% asset 'dia_theme/rua_style' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% asset 'dia_theme/dia_script' %}
    {% asset 'dia_theme/rua_script' %}
{% endblock scripts %}
