{# This is copied from the CKAN source, with header_site_search moved outside .nav-collapse, and accessibility changes as per wr267900 #}
{% block header_wrapper %}
    <header class="site-header" role="banner">
        {% block header_debug %}
            {% if g.debug and not g.debug_supress_header %}
                <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
            {% endif %}
        {% endblock %}
        {% block header_account %}
            <div class="container site-header__nav-container">
                {% block header_account_container_content %}
                    {% if c.userobj %}
                        <nav class="account authed" data-module="me" data-me="{{ c.userobj.id }}" role="navigation" aria-label="Add/request dataset">
                            <ul class="unstyled bg-primary">
                                {% block header_account_logged %}
                                    {% if c.userobj.sysadmin %}
                                        <li>
                                            <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                                <i class="fa fa-gavel" aria-hidden="true"></i>
                                                <span class="text">{{ _('Admin') }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                            <span class="username">{{ c.userobj.display_name }}</span>
                                        </a>
                                    </li>
                                    {% set new_activities = h.new_activities() %}
                                    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                                        {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                                        <a href="{{ h.url_for(controller='dashboard', action='index') if h.check_ckan_version('2.8') else h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                                            <i class="fa fa-dashboard" aria-hidden="true"></i>
                                            <span class="text">{{ _('Dashboard') }}</span>
                                            <span class="badge">{{ new_activities }}</span>
                                        </a>
                                    </li>
                                    {% block header_account_settings_link %}
                                        <li>
                                            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                                <span class="text">{{ _('Settings') }}</span>
                                            </a>
                                        </li>
                                    {% endblock %}
                                    {% block header_account_log_out_link %}
                                        <li>
                                            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                <span class="text">{{ _('Log out') }}</span>
                                            </a>
                                        </li>
                                    {% endblock %}
                                {% endblock %}
                            </ul>
                        </nav>
                    {% else %}
                        <nav class="account not-authed" role="navigation" aria-label="Login/Register">
                            <ul class="unstyled">
                                {% block header_account_notlogged %}
                                    <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                                    {% if h.check_access('user_create') %}
                                        <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                                    {% endif %}
                                {% endblock %}
                            </ul>
                        </nav>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
        <div class="container site-header__nav-container">
            <div class="site-header__inner">
                {% block header_logo %}
                    {% if g.site_logo %}
                        <a class="site-header__logo" href="{{ h.parent_site_url() }}">
                            <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" width="164" />
                        </a>
                    {% else %}
                        <h1>
                            <a href="{{ h.parent_site_url() }}">{{ g.site_title }}</a>
                        </h1>
                        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
                    {% endif %}
                {% endblock %}


                {% block header_site_navigation %}
                    <nav aria-label="Main Menu" class="site-header__navigation">
                        <ul class="menu">
                            {% include 'snippets/header_navigation_items.html' %}
                        </ul>
                    </nav>
                {% endblock %}

                <div class="navigation-toggle navicon" data-rua-toggle-state="false" data-rua-click="trigger: #site-navigation; class: in-active, is-active">
                    <span class="navicon-box">
                        <span class="navicon-inner"></span>
                    </span>
                </div>
                <div id="site-search-wrap" class="search-toggle" data-rua-toggle-state="false" data-rua-click="trigger: #site-search; class: in-active, active">
                    <div class="search-toggle__search">
                        <span class="ri ri-search"></span>
                    </div>
                    <div class="button search-toggle__in-active">
                        <span class="ri ri-chevron-down"></span>
                        <span>
                            {% block header_site_search_label %}{{ _('Search') }}{% endblock %}
                        </span>
                    </div>
                    <div class="button-icon search-toggle__active">
                        <span class="ri ri-chevron-up"></span>
                    </div>
                </div>
            </div>
        </div>
        {% block header_site_search %}
            <div class="site-search">
                <div class="site-search__visibility hidden" id="site-search" data-rua-toggle="slide" style="display: none;" aria-expanded="false">
                    <div class="container">
                        <div class="site-search__inner">
                            <form class="search-form" id="dataset-search" action="{% url_for controller='dataset' if h.check_ckan_version('2.9') else 'package', action='search' %}" method="get" data-module="select-switch">
                                <label for="{$LabelPrefix}-field-sitewide-search">
                                    {{ _('Search for') }}:
                                </label>
                                <div class="context-switch">
                                    <div class="field field--inline-label">
                                        <input id="{$LabelPrefix}-search-for-website-content" type="radio" class="search-form-context" name="header-search-context" value="content" />
                                        <label for="{$LabelPrefix}-search-for-website-content">
                                            {{ _('Website content') }}
                                        </label>
                                    </div>
                                    <div class="field field--inline-label">
                                        <input id="{$LabelPrefix}-search-for-datasets" type="radio" class="search-form-context" name="header-search-context" value="datasets" checked="checked" />
                                        <label for="{$LabelPrefix}-search-for-datasets">
                                            {{ _('Datasets') }}
                                        </label>
                                    </div>
                                </div>
                                <div class="field search-input">
                                    <input class="ss-search-url" value="{{ h.parent_site_url() }}/search/SearchForm" type="hidden">
                                    <input class="ckan-search-url" value="{% url_for controller='dataset' if h.check_ckan_version('2.9') else 'package', action='search' %}" type="hidden">
                                    <input id="{$LabelPrefix}-field-sitewide-search" name="q" placeholder="E.g. environment" type="text" aria-label="Search term">
                                </div>
                                <button id="{$LabelPrefix}-search" class="button">
                                    <span class="ri ri-search"></span>
                                    <span>{{ _('Search') }}</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block header_site_navigation_mobile %}
            <div class="site-navigation">
                <div class="site-search__visibility hidden" id="site-navigation" data-rua-toggle="slide" style="display: none;" aria-expanded="false">
                    <div class="container">
                        <div class="site-search__inner">
                            <ul class="menu vertical">
                                {% include 'snippets/header_navigation_items.html' %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </header>
{% endblock %}
