{# This is copied from the CKAN source, with header_site_search moved outside .nav-collapse, and accessibility changes as per wr267900 #}
{% block header_wrapper %}
    {% block header_account %}
        <header class="account-masthead" role="banner">
            <div class="container">
                {% block header_account_container_content %}
                    {% if c.userobj %}
                        <nav class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}" role="navigation" aria-label="Add/request dataset">
                            <ul class="unstyled">
                                {% block header_account_logged %}
                                    {% if c.userobj.sysadmin %}
                                        <li>
                                            <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                                <i class="fa fa-gavel" aria-hidden="true"></i>
                                                <span class="text">{{ _('Admin') }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                                            <span class="username">{{ c.userobj.display_name }}</span>
                                        </a>
                                    </li>
                                    {% set new_activities = h.new_activities() %}
                                    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                                        {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                                        <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                                            <i class="fa fa-dashboard" aria-hidden="true"></i>
                                            <span class="text">{{ _('Dashboard') }}</span>
                                            <span class="badge">{{ new_activities }}</span>
                                        </a>
                                    </li>
                                    {% block header_account_settings_link %}
                                        <li>
                                            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                                <span class="text">{{ _('Settings') }}</span>
                                            </a>
                                        </li>
                                    {% endblock %}
                                    {% block header_account_log_out_link %}
                                        <li>
                                            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                                <span class="text">{{ _('Log out') }}</span>
                                            </a>
                                        </li>
                                    {% endblock %}
                                {% endblock %}
                            </ul>
                        </nav>
                    {% else %}
                        <nav class="account not-authed" role="navigation" aria-label="Login/Register">
                            <ul class="unstyled">
                                {% block header_account_notlogged %}
                                    <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                                    {% if h.check_access('user_create') %}
                                        <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                                    {% endif %}
                                {% endblock %}
                            </ul>
                        </nav>
                    {% endif %}
                {% endblock %}
            </div>
    {% endblock %}
    <div class="navbar navbar-static-top masthead">
        {% block header_debug %}
            {% if g.debug and not g.debug_supress_header %}
                <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
            {% endif %}
        {% endblock %}
        <div class="container">
            {# The .header-image class hides the main text and uses image replacement for the title #}
            <div class="{{ g.header_class }} pull-left">

                {% block header_logo %}
                    {% if g.site_logo %}
                        <a class="logo" href="{{ h.parent_site_url() }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
                    {% else %}
                        <h1>
                            <a href="{{ h.parent_site_url() }}">{{ g.site_title }}</a>
                        </h1>
                        {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
                    {% endif %}
                {% endblock %}

            </div>

            {% block header_site_search %}
                <div class="site-search-wrap">
                    <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                        <div class="field">
                            <input class="ss-search-url" value="{{ h.parent_site_url() }}/search/SearchForm" type="hidden">
                            <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('E.g. environment') }}" class="search" aria-label="Search term"/>
                            <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
                            <button class="btn-search" type="submit">
                                <i class="fa fa-search icon-search" aria-hidden="true"></i>
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </form>
                    <fieldset class="fieldset">
                        <legend class="hide">Search for</legend>
                        <div class="context-switch">
                            <input type="radio" class="search-form-context" name="header-search-context" value="datasets" checked="checked" id="search-for-datasets">
                            <label for="search-for-datasets">Datasets</label>
                        </div>
                        <div class="context-switch">
                            <input type="radio" class="search-form-context" name="header-search-context" value="content" id="search-for-website-content">
                            <label for="search-for-website-content">Website</label>
                        </div>
                    </fieldset>
                </div>
            {% endblock %}

            <button id="buttonCollapse" data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
                <span class="sr-only">Main navigation</span>
            </button>

            <div id="collapseDiv" class="nav-collapse collapse" role="navigation" aria-label="Main menu">

                {% block header_site_navigation %}
                    <nav class="section navigation">
                        <ul class="nav nav-pills">
                            {% block header_site_navigation_tabs %}
                                {{ h.build_nav_main(
                                    ('search', _('Datasets')),
                                    ('organizations_index', _('Organizations')),
                                    ('group_index', _('Groups')),
                                    ('about', _('About'))
                                ) }}
                            {% endblock %}
                        </ul>
                    </nav>
                {% endblock %}

            </div>
        </div>
    </div>
</header>
{% endblock %}
