{% extends "header_base.html" %}
  {% block header_account_logged %}
      {% snippet "snippets/topbar_links.html" %}
  {% endblock %}

  {% block header_account_notlogged %}
      {% snippet "snippets/topbar_links.html" %}
  {% endblock %}

  {% block header_site_navigation_tabs %}
      {{ h.build_nav_main(
          ('search', _('Datasets')),
          ('organizations_index', _('Organizations')),     
          ('group_index', _('Groups')),
          ('stats', _('Stats')),
          ('reports', _('Reports')),
          ('blog_index', _('Blog')),
          ('about', _('About')),
      ) }}
{% endblock %}

