{% ckan_extends %}a

{% block heading %}
  {{ super() }}
  <span class="dataset-subheading">{{package.organization.title}}</span>
{% endblock %}

{% block resources_inner %}
  {% for resource in h.dict_list_reduce(package.resources, 'format') %}
    <li>
      <a href="{{ h.url_for(controller='resource' if h.ckan_version().split('.')[1] | int >= 9 else 'package', action='read', id=package.name) }}#dataset-resources" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
    </li>
  {% endfor %}
{% endblock %}