{% ckan_extends %}

{% block heading %}
  {{ super() }}
  <span class="dataset-subheading">{{package.organization.title}}</span>
{% endblock %}

{% block resources_inner %}
  {% for resource in h.dict_list_reduce(package.resources, 'format') %}
    <li>
      {% if h.check_ckan_version('2.9') %}
        <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}#dataset-resources" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
      {% else %}
        <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}#dataset-resources" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
      {% endif %}
    </li>
  {% endfor %}
{% endblock %}

