{% ckan_extends %}

{% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
  </a>
{% endblock %}
{% block resource_item_description %}
<p class="description">
  {% if res.description %}
    {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=200) }}
  {% endif %}
</p>
{% endblock %}
