@import url(https://code.cdn.mozilla.net/fonts/fira.css);
.embedded-content h1 {
  font-size: 1.4em;
}
@media (min-width: 980px) {
  .form-horizontal .info-block {
    padding: 6px 0 6px 25px;
  }
}
.js .image-upload #field-image-url {
  padding-right: 29px;
}
.btn-remove-url {
  padding: 0 4px;
}
.module-content .wide .media-grid {
  margin-left: initial;
}
.module .pagination {
  height: 34px;
  margin-bottom: 0;
}
.ckanext-datapreview > iframe {
  min-height: 400px;
}
.search-form .search-input.search-giant button {
  margin-top: -15px;
}
.label[data-format="html"],
.label[data-format*="html"],
.label[data-format="json"],
.label[data-format*="json"],
.label[data-format="xml"],
.label[data-format*="xml"],
.label[data-format="text"],
.label[data-format*="text"],
.label[data-format="csv"],
.label[data-format*="csv"],
.label[data-format="xls"],
.label[data-format*="xls"],
.label[data-format="zip"],
.label[data-format*="zip"],
.label[data-format="api"],
.label[data-format*="api"],
.label[data-format="pdf"],
.label[data-format*="pdf"],
.label[data-format="rdf"],
.label[data-format*="rdf"],
.label[data-format*="nquad"],
.label[data-format*="ntriples"],
.label[data-format*="turtle"] {
  background-color: none;
}
/* override for rua styling */
.tag-list li .tag {
  line-height: 20px;
}
.site-footer {
  background-image: none;
  min-height: 55px;
  padding: 20px 0;
  box-shadow: 0 500px 0 500px #0c536b;
}
.site-footer .nav > li > a {
  border-radius: 0;
  height: 20px;
}
.site-footer .nav > li > a:hover {
  background-color: #FFB100;
}
.site-footer .simple-input {
  height: 30px;
  float: right;
  margin: 8px 2px 7px 2px;
}
.site-footer .site-search input {
  font-size: 16px;
  height: 38px;
  padding: 4px 10px;
  width: 260px;
  border-radius: 3px;
  line-height: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  vertical-align: middle;
  margin: 0;
  box-sizing: border-box;
  margin-top: -5px;
  border: none;
  -webkit-font-smoothing: antialiased;
}
.site-footer a:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .site-footer [class*="span"] {
    clear: both;
  }
}
.site-footer .span3,
.site-footer .span6 {
  padding-top: 15px;
}
.site-footer h2.footcolheader {
  left: 0;
  border-top: 1px solid #fff;
  font-size: 1.2rem;
  margin: 0;
  padding: 16px 0 8px;
  position: relative;
  color: #fff;
}
.site-footer .footlink {
  margin: 8px 0;
  font-size: 18px;
  line-height: 1.5;
}
.site-footer .footlink.footlink50 {
  float: left;
  margin-bottom: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .site-footer .footlink.footlink50 {
    width: 50%;
  }
}
.site-footer .footsub p {
  color: #fff;
}
.site-footer .footsubcol01 p {
  margin-top: 16px;
  padding: 0;
}
.site-footer .footsubcol02 img {
  width: 102px;
}
.site-footer .footsubcol03 p {
  text-align: left;
  padding: 0;
}
.site-footer .footright {
  border-bottom: 1px solid #fff;
  clear: both;
  padding: 32px 0;
  text-align: right;
}
.site-footer .footsub {
  font-size: 0.85em;
  padding: 32px 0;
}
.site-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* override for rua styling */
footer.site-footer {
  background: #fff;
  padding: 0;
}
footer.site-footer .site-footer__col-3 h2 {
  color: #fff;
}
.site-header__inner h1 {
  margin: 0;
}
/* override for rua styling */
.site-search__inner input[type="radio"] {
  top: 0px;
}
.site-search__inner label:after {
  content: "";
}
.site-search__inner input[type="text"] {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 4px;
  padding: 0.9em;
  border: 2px solid #c3ced8;
  border-radius: 1.5em;
  background-color: #fff;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.3s ease, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.3s ease, -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.3s ease, box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.3s ease, box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.3s ease, box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.3s ease, -webkit-box-shadow 0.5s;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.42857;
  color: #182b46;
  padding: 0 0.9em;
  height: 2.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-prepend input[type="text"] {
  display: inline-block;
}
.input-prepend .add-on {
  height: 2.5em;
  font-size: 1rem;
  line-height: 2em;
  margin-right: 10px;
}
.format-label[data-format="geojson"],
.format-label[data-format*="geojson"] {
  background-position: -128px -62px;
}
.show-filters.button {
  display: none;
}
.js body.filters-modal .secondary .filters > div {
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
}
@media (max-width: 990px) {
  .wrapper {
    margin: 15px;
  }
  .js body.filters-modal .secondary .filters .hide-filters {
    top: 36px;
    right: 40px;
    position: absolute;
    display: inline-block;
    opacity: 0.6;
  }
  .js body.filters-modal .secondary .filters .hide-filters i {
    display: none;
  }
  .js body.filters-modal .secondary .filters .hide-filters .text {
    display: inline-block;
  }
  .js .show-filters.button {
    display: inline-block;
  }
  .js .main .secondary .filters {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .js body.filters-modal .secondary .filters {
    display: block;
  }
}
div.masthead {
  background-color: #117799;
  background-image: none;
  color: #fff;
  min-height: 55px;
  margin-top: 45px;
}
div.masthead a {
  border-bottom: none;
  color: #ffffff;
  text-decoration: none;
}
div.masthead .container {
  position: relative;
  width: 940px;
}
div.not-authored {
  width: 500px;
}
.account-masthead .nav-collapse {
  width: 100%;
}
.account-masthead.navbar .sr-only {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.account-masthead.navbar .site-search-wrap {
  padding: 5px;
  background-color: #004a61;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 3px;
}
.account-masthead.navbar .site-search-wrap .context-switch {
  float: right;
  padding: 0;
  margin-top: 12px;
  margin-left: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.account-masthead.navbar .site-search-wrap .context-switch input {
  float: none;
  cursor: pointer;
  top: 0;
  margin: 3px 0.5ex;
}
.account-masthead.navbar .site-search-wrap .context-switch label {
  margin-left: 0;
  margin-right: 10px;
  display: inline-block;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  cursor: pointer;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.account-masthead.navbar .site-search-wrap .context-switch label:after {
  content: none;
}
.account-masthead .site-search {
  margin: initial;
}
.account-masthead .site-search input {
  width: initial;
  padding: initial;
}
@media (min-width: 980px) {
  .masthead .nav-collapse {
    float: left;
    padding-top: 15px;
  }
}
@media only screen and (min-width: 760px) {
  .nav-collapse {
    padding: 0;
  }
}
@media only screen and (max-width: 979px) {
  #collapseDiv {
    display: none;
  }
  .navbar .container {
    width: 92%;
  }
  .navbar .container .btn-navbar {
    position: absolute;
    right: 15px;
    margin-top: 15px;
  }
}
@media (max-width: 979px) {
  .masthead .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 92% !important;
  }
  .masthead .site-search-wrap {
    display: none;
  }
  .masthead .header-image {
    padding-bottom: 5px;
  }
  .masthead .navigation {
    margin: 2px;
  }
}
@media (max-width: 570px) {
  .header-image {
    margin-top: 45px !important;
    padding-bottom: 15px !important;
  }
}
/* override for rua styling */
header .debug {
  position: absolute;
  top: 34px;
  left: 10px;
  z-index: 3;
}
@media only screen and (max-width: 1400px) {
  header .debug {
    position: absolute;
    top: 56px;
    left: 10px;
    z-index: 3;
  }
}
.pagination li a {
  border-top: none;
  border-bottom: none;
  border-left-width: 0px;
  border-right-width: 1px;
  width: auto;
  border-radius: 0;
}
.pagination li:first-child a {
  border-left-width: 1px;
  border-radius: 0;
}
.pagination li:last-child a {
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  border-left-width: 0px;
  border-right-width: 1px;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #000;
}
.pagination {
  font-size: 0;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.skip-to-content {
  position: absolute;
  top: -40px;
  color: #333;
  font-weight: bold;
  text-decoration: underline solid black;
  padding: 0.4em;
  display: inline-block;
  margin-bottom: 3px !important;
  margin-top: 3px !important;
  margin-left: 3px !important;
}
/* override for rua styling */
nav.account.not-authed {
  display: none;
}
nav.account.authed ul {
  margin: 0;
}
nav .breadcrumbs {
  margin-top: 10px;
  line-height: 1.5em;
}
nav .breadcrumbs a {
  text-decoration: underline;
}
nav .breadcrumbs li {
  line-height: inherit;
}
li {
  line-height: 20px;
}
.row.wrapper {
  padding-top: 0;
}
.search-form .search-input {
  margin-bottom: 10px;
}
.search-form .control-order-by {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .search-result-heading {
    margin: 0 20px;
  }
}
.search-alt-actions {
  display: inline-block;
}
.search-alt-actions a.button {
  margin-left: 10px;
}
a.search-context-switch,
a.dataset-request {
  font-weight: normal;
  margin-left: 5px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 5px;
  margin-top: 5px;
  -webkit-font-smoothing: antialiased;
}
a.search-context-switch:hover,
a.dataset-request:hover,
a.search-context-switch:focus,
a.dataset-request:focus {
  text-decoration: underline;
}
a.search-context-switch {
  color: #fff;
  border-bottom: 2px solid #0a3e4e;
}
a.dataset-request {
  border-bottom: 2px solid #ab7701;
}
a.dataset-request:hover,
a.dataset-request:focus {
  background-color: #e8a200;
}
.search-result-api-message span {
  font-size: 1.3em;
  vertical-align: middle;
  margin-right: 10px;
}
.request-data {
  margin-top: 40px;
}
/* override for rua styling */
.site-search__inner .search-form {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.site-search__inner .search-form .search-input input {
  margin: 0 20px 4px 0;
  height: 2.5em;
}
.site-search__visibility.hidden {
  display: block;
  visibility: visible;
}
.search-result-bottom-link {
  text-align: center;
}
.search-result-bottom-link a {
  margin-left: 10px;
}
.search-input input::placeholder {
  color: #999999;
}
/* this should be pulled back to rua to fix on parent site too */
.search-toggle__search {
  cursor: pointer;
}
.form-horizontal .control-label {
  width: 120px;
  float: left;
}
@media (min-width: 768px) {
  .form-horizontal .controls {
    margin-left: 130px;
  }
}
.context-info .image img {
  width: auto;
  height: auto;
}
.search-form .control-order-by select {
  width: 160px;
  margin: 0;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 20px;
  position: static;
}
.nav-tabs .fa:last-child {
  margin-right: 0;
}
.module-content {
  padding: 0 25px;
  margin: 20px 0;
}
.module > .module-content:nth-child(2n) {
  padding: 0 25px;
}
.main .secondary {
  z-index: auto;
  padding-left: 18px;
  padding-right: 17px;
}
.module-content:first-child {
  margin-top: 0;
  padding-top: 20px;
}
body {
  line-height: 20px;
}
.form-horizontal textarea {
  margin-bottom: 0;
}
legend {
  line-height: 40px;
}
.form-actions {
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e5e5e5;
  margin-left: -25px;
  margin-right: -25px;
}
.form-horizontal .form-actions {
  padding-left: 25px;
  padding-right: 25px;
}
.form-horizontal .form-group {
  margin: 0;
  margin-bottom: 20px;
}
.module {
  margin: 20px 0;
}
.label,
.badge {
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  vertical-align: baseline;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999;
}
.pill {
  background-color: #6f8890;
}
form .control-medium .info-block.info-inline {
  width: auto;
}
textarea.form-control {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* Fix Tag fields:
 https://github.com/ckan/ckanext-scheming/issues/219 */
.select2-container.form-control {
  height: auto;
  padding: 0;
}
.label-important,
.badge-important {
  background-color: #b55457;
}
[data-diff] {
  margin-right: 5px;
  color: white;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.popover.right > .arrow {
  left: -9px;
}
.container::before,
.container::after {
  content: "";
  display: table;
  line-height: 0;
}
.container::after {
  clear: both;
}
.container::before,
.container::after {
  content: "";
  display: table;
  line-height: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  overflow-x: hidden;
}
body .notification-bar {
  background-color: #FFB100;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-weight: normal;
}
@media (max-width: 768px) {
  body .notification-bar {
    margin: 0 -9999em;
    padding: 0 9999em;
  }
}
@media (max-width: 768px) {
  body.home {
    background: #E8E8E8;
  }
}
body.home .masthead {
  border-bottom: 10px solid #349EB7;
}
body.home .masthead .navigation {
  margin-right: -25px;
}
body.home .categories {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  body.home .categories .span4 {
    width: 238px;
    border-right: 1px solid #FFFFFF;
  }
  body.home .categories .span4:first-child {
    border-left: 1px solid #FFFFFF;
  }
  body.home .categories .span4:nth-child(2),
  body.home .categories .span4:nth-child(3) {
    margin-left: 0;
  }
}
@media (min-width: 980px) {
  body.home .categories {
    padding-bottom: 50px;
  }
  body.home .categories .span4 {
    width: 311px;
    border-right: 1px solid #FFFFFF;
  }
  body.home .categories .span4:first-child {
    border-left: 1px solid #FFFFFF;
  }
  body.home .categories .span4:nth-child(2),
  body.home .categories .span4:nth-child(3) {
    margin-left: 0;
  }
}
body.home .info {
  margin-left: 0;
}
body.home .info .news,
body.home .info .event {
  background-color: #E8E8E8;
}
body.home .info h2 {
  padding-top: 55px;
}
@media (max-width: 768px) {
  body.home .info h2 {
    padding-top: 30px;
  }
}
body.home .info h3 {
  font-size: 16px;
  font-weight: bold;
  color: #004a61;
}
body.home .info .span8.news {
  margin: 0 -9999rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem 3.5rem 9999rem;
}
body.home .info .span8.news p {
  padding: 15px 0;
}
@media (max-width: 768px) {
  body.home .info .span8.news {
    margin: 0;
    padding: 0;
  }
}
body.home .info .span4.event {
  margin-left: 20px;
}
body.home .info .span4.event p {
  padding: 15px 0;
}
@media (max-width: 768px) {
  body.home .info .span4.event {
    margin: 0;
  }
}
body.home .site-search {
  display: none;
}
body.home .heading h2 {
  margin-top: 110px;
}
@media (max-width: 768px) {
  body.home .heading h2 {
    margin-top: 50px;
  }
}
body h1 {
  font-size: 36px;
  line-height: 1.2;
  color: #333333;
}
@media (max-width: 980px) {
  body h1 {
    font-size: 30px;
  }
}
body h2 {
  font-size: 30px;
  line-height: 1.2;
  color: #333333;
}
@media screen and (min-width: 768px) {
  body h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  body h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
body h3 {
  font-size: 24px;
  line-height: 1.2;
  color: #333333;
}
body a {
  color: #004a61;
}
body a:hover {
  color: #075D79;
}
body p {
  padding: 15px;
}
body .context-info h1.heading,
body h2,
body h3,
body .media-heading {
  word-break: normal;
}
body .icon-medium,
body .icon-info-sign,
body .icon-building {
  display: none;
}
header.account-masthead {
  background: #117799;
}
header.account-masthead .account.authed .image {
  padding: 5px 6px;
}
header.account-masthead .account li.feedback {
  background-color: #FFB100;
  color: #333333;
}
header.account-masthead .account li.feedback a {
  color: #333333;
  font-weight: normal;
}
header.account-masthead .account li.feedback a:hover {
  color: #FFFFFF;
}
header.account-masthead .account ul li {
  border: none;
  background: #004A61;
}
header.account-masthead .account ul li a {
  padding: 5px 15px;
}
header.account-masthead .account ul li a:hover {
  background-color: #FFB100;
}
.masthead {
  background-image: none;
  min-height: 55px;
}
.masthead .nav > li > a {
  border-radius: 0;
  height: 20px;
}
.masthead .nav > li > a:hover {
  background-color: #FFB100;
}
.masthead .simple-input {
  height: 30px;
  float: right;
  margin: 8px 2px 7px 2px;
}
.masthead .site-search input {
  font-size: 16px;
  height: 38px;
  padding: 4px 10px;
  width: 260px;
  border-radius: 3px;
  line-height: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  vertical-align: middle;
  margin: 0;
  box-sizing: border-box;
  margin-top: -5px;
  border: none;
  -webkit-font-smoothing: antialiased;
}
.homepage .hero {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .homepage .hero {
    background: none;
    min-height: 0;
  }
}
.homepage .hero .module-search {
  opacity: 0.9;
  margin: 0 auto;
  position: relative;
  top: 85px;
  z-index: 1;
  border: none;
  border-radius: 0;
  background-color: #004a61;
  width: 85%;
  padding: 0;
}
@media (max-width: 980px) {
  .homepage .hero .module-search {
    width: 96%;
  }
}
@media (max-width: 768px) {
  .homepage .hero .module-search {
    top: 0;
    width: 100%;
  }
}
.homepage .hero .module-search .search-giant input {
  border: none;
}
.homepage .hero .module-search .tags {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-align: right;
}
@media (max-width: 768px) {
  .homepage .hero .module-search .tags {
    text-align: left;
    background-color: #EEEEEE;
  }
}
.homepage .hero .module-search .tags a {
  position: relative;
  display: block;
  margin-left: 30px;
  max-height: 30px;
}
.homepage .hero .module-search .tags a:hover {
  background-color: #075D79;
  color: #FFFFFF;
}
.homepage .hero .module-search .tags a:hover:before {
  border-right-color: #075D79;
}
.homepage .hero .module-search .tags a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 12px 15px 0;
  border-color: transparent #BADAE2 transparent transparent;
  display: block;
  top: -2px;
  left: -12px;
}
.homepage .hero .module-search .tags h3 {
  display: inline-block;
}
@media (max-width: 768px) {
  .homepage .hero .module-search .tags h3 {
    display: block;
  }
}
.homepage .hero .module-search .tags .tag {
  float: right;
  border-radius: 0;
  background-color: #BADAE2;
  box-shadow: none;
  padding: 3px 10px;
  margin: 5px 5px 5px 15px;
  display: inline-block;
}
@media (max-width: 768px) {
  .homepage .hero .module-search .tags .tag {
    float: none;
  }
}
.homepage .hero .module-search .module-content,
.homepage .hero .module-search .tags {
  background-color: #004a61;
}
.homepage .hero .module-search .module-content .heading,
.homepage .hero .module-search .tags .heading {
  color: #FFFFFF;
}
.homepage .hero .module-search .module-content h3,
.homepage .hero .module-search .tags h3 {
  color: #FFFFFF;
  float: none;
}
.site-footer {
  background: #0c536b;
}
@media (max-width: 768px) {
  .site-footer {
    padding: 10px;
  }
}
.homepage .categories .module-content {
  margin-top: 0;
}
.homepage .categories .module-content.land {
  background: #00789A;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.land h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.land h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.land h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.land h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.land .media-heading {
  display: none;
}
.homepage .categories .module-content.land img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.land img {
    width: 100%;
  }
}
.homepage .categories .module-content.health {
  background: #005e7a;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.health h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.health h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.health h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.health h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.health .media-heading {
  display: none;
}
.homepage .categories .module-content.health img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.health img {
    width: 100%;
  }
}
.homepage .categories .module-content.government {
  background: #004A61;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.government h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.government h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.government h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.government h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.government .media-heading {
  display: none;
}
.homepage .categories .module-content.government img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.government img {
    width: 100%;
  }
}
.homepage .categories .module-content.environment {
  background: #FFB100;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.environment h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.environment h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.environment h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.environment h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.environment .media-heading {
  display: none;
}
.homepage .categories .module-content.environment img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.environment img {
    width: 100%;
  }
}
.homepage .categories .module-content.transport {
  background: #CC8900;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.transport h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.transport h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.transport h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.transport h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.transport .media-heading {
  display: none;
}
.homepage .categories .module-content.transport img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.transport img {
    width: 100%;
  }
}
.homepage .categories .module-content.education {
  background: #A16B00;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.education h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.education h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.education h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.education h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.education .media-heading {
  display: none;
}
.homepage .categories .module-content.education img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.education img {
    width: 100%;
  }
}
.homepage .categories .module-content.state {
  background: #FF8400;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.state h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.state h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.state h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.state h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.state .media-heading {
  display: none;
}
.homepage .categories .module-content.state img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.state img {
    width: 100%;
  }
}
.homepage .categories .module-content.population {
  background: #CE6300;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.population h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.population h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.population h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.population h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.population .media-heading {
  display: none;
}
.homepage .categories .module-content.population img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.population img {
    width: 100%;
  }
}
.homepage .categories .module-content.arts {
  background: #A34D00;
  padding: 0;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 0;
}
.homepage .categories .module-content.arts h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
@media (max-width: 980px) {
  .homepage .categories .module-content.arts h3 {
    font-size: 16px;
  }
}
.homepage .categories .module-content.arts h3 a {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-right: 20px;
}
.homepage .categories .module-content.arts h3 a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  right: 0;
}
.homepage .categories .module-content.arts .media-heading {
  display: none;
}
.homepage .categories .module-content.arts img {
  margin-top: 10px;
}
@media (max-width: 768px) {
  .homepage .categories .module-content.arts img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .homepage .row {
    margin-top: 0;
  }
}
.homepage .row .box {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.homepage .box .inner {
  padding: 0;
}
.homepage .box .inner h3 {
  display: none;
}
.homepage .box.stats {
  background: transparent;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
@media (max-width: 980px) {
  .homepage .box.stats {
    width: 690px;
  }
}
@media (max-width: 768px) {
  .homepage .box.stats {
    width: 450px;
  }
}
.homepage .stats ul {
  text-align: right;
  font-size: 0;
}
.homepage .stats ul li {
  display: inline-block;
  float: none ;
  width: auto ;
  font-size: 16px;
}
.homepage .stats ul li:nth-child(1) a {
  background-color: #0084A0;
}
.homepage .stats ul li:nth-child(2) a {
  background-color: #005E7A;
}
.homepage .stats ul li:nth-child(3) a {
  background-color: #004A61;
}
.homepage .stats ul li:nth-child(4) a {
  background-color: #003648;
}
.homepage .stats ul li a {
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  height: 90px;
  width: 110px;
  font-weight: 700;
}
.simple-input .field .btn-search {
  background-color: #349eb7;
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 38px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: 0;
  top: -5px;
  transition: color 0.2s ease-in 0s;
  vertical-align: middle;
  width: 55px;
  border-radius: 0 3px 3px 0;
  margin: 0;
  font-size: 20px;
}
.simple-input .field .btn-search .icon-search {
  font-size: 20px;
}
.btn-secondary {
  color: #333;
  background-color: #ffc645;
  background-image: -moz-linear-gradient(top, #ffc645, #e8a200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc645), to(#e8a200));
  background-image: linear-gradient(to bottom, #ffc645, #e8a200);
  text-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  background-color: #ffb100;
  color: #333;
}
.toolbar {
  background-color: #FFB100;
  color: #333;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  margin: -10px -9999rem 0;
}
.toolbar .breadcrumb > li > a {
  color: #333;
  font-size: 14px;
  text-shadow: none;
}
.toolbar .icon-home:before {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  content: "Home";
  vertical-align: -16%;
}
.toolbar .breadcrumb .home .icon-home {
  font-size: 14px;
  width: 24px;
  vertical-align: 3px;
}
.toolbar .breadcrumb li::after {
  font-family: FontAwesome;
  content: "\f105";
  padding-left: 10px;
  padding-right: 5px;
}
.wrapper {
  background-color: #FFFFFF;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
  background-image: none;
  margin-bottom: 60px;
  padding-top: 60px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .primary .resource-item .btn-group {
    position: relative;
    padding-bottom: 15px;
    padding-left: 10px;
  }
}
.primary header.module-content.page-header {
  border-bottom: 1px solid #117799;
  background-color: #EEEEEE;
  margin-left: 0;
}
@media (min-width: 768px) {
  .primary header.module-content.page-header {
    background-color: #FFFFFF;
    width: 100%;
  }
}
.primary .page-header .nav-tabs li.active a,
.primary .page-header .nav-tabs a:active {
  color: #FFFFFF;
  background-color: #117799;
  border: 1px solid #117799;
}
.primary .nav-tabs > li > a {
  color: #117799;
}
.primary .nav-tabs > li > a:hover {
  color: #FFFFFF;
  background-color: #117799;
}
.primary .nav-tabs {
  border-bottom: 1px solid #117799;
}
@media (max-width: 768px) {
  .primary .nav-tabs {
    color: #EEEEEE;
    border: none;
  }
}
.primary .nav-tabs > li > a {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  color: #117799;
}
.primary .nav-tabs > li > a:hover {
  border: none;
}
.primary .resource-list .heading {
  color: #004a61;
  text-decoration: underline;
}
.primary .resource-list li.resource-item {
  border-top: 1px solid #CCCCCC;
  border-radius: 0;
}
.primary .resource-list li.resource-item:last-child {
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0;
}
.primary .dataset-resources li a {
  background: #117799;
}
.primary .btn.btn-primary {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #004a61;
  border: 0;
  background-image: -moz-linear-gradient(top, #004a61, #004a61);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004a61), to(#004a61));
  background-image: -webkit-linear-gradient(top, #004a61, #004a61);
  background-image: -o-linear-gradient(top, #004a61, #004a61);
  background-image: linear-gradient(to bottom, #004a61, #004a61);
  border-radius: 0;
}
.primary ul.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
}
.primary .tag-list {
  padding-left: 0;
  margin: 0 0 0 -25px;
}
.primary .tag-list li {
  margin-right: -10px;
  line-height: 20px;
}
.primary .tag-list.well {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
}
@media (max-width: 768px) {
  .primary .tag-list.well {
    background-color: #EEEEEE;
  }
}
.primary .tag-list.well a {
  position: relative;
  display: block;
  margin-left: 30px;
  max-height: 30px;
}
.primary .tag-list.well a:hover {
  background-color: #075D79;
  color: #FFFFFF;
}
.primary .tag-list.well a:hover:before {
  border-right-color: #075D79;
}
.primary .tag-list.well a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 12px 15px 0;
  border-color: transparent #BADAE2 transparent transparent;
  display: block;
  top: 0;
  left: -12px;
}
.primary .tag-list .tag {
  border-radius: 0;
}
.primary .tag-list a.tag {
  font-size: 14px;
  padding: 5px 10px;
  color: #004a61;
  background-color: #BADAE2;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
}
.primary .additional-info {
  padding-top: 30px;
}
.primary .additional-info .table {
  border-bottom: 1px solid #CCCCCC;
  border-right: 0;
  border-radius: 0;
  font-size: 14px;
}
.primary .additional-info thead th {
  border-bottom: 1px solid #CCCCCC;
}
.primary .additional-info .table-bordered th,
.primary .additional-info .table-bordered td {
  border-left: 0;
  border-right: 0;
}
.primary .additional-info .table th,
.primary .additional-info .table td {
  border-top: 0;
}
aside.secondary .module.module-narrow {
  background-color: #EEEEEE;
}
aside.secondary .module.module-narrow h1.heading {
  margin: 0 0 0 0;
  background-color: #004A61;
  color: #FFFFFF;
  padding: 15px;
  font-size: 16px;
}
@media (max-width: 768px) {
  aside.secondary .module.module-narrow h1.heading {
    display: table;
    content: "";
    line-height: normal;
    width: 100%;
  }
}
@media (max-width: 480px) {
  aside.secondary .module.module-narrow h1.heading {
    width: 94%;
  }
}
aside.secondary .module.module-narrow .module-content {
  padding: 0;
}
aside.secondary .module.module-narrow p.module-content {
  padding: 15px;
  word-break: normal;
}
aside.secondary .module.module-narrow img {
  margin: 0 auto;
}
aside.secondary .module.module-narrow .nums {
  margin-top: 0;
  border-top: 0;
  background-color: #EDF9FD;
  padding: 15px;
}
aside.secondary .module.module-narrow .nums dl {
  color: #004a61;
}
aside.secondary .module.module-narrow .nums dt {
  font-size: 14px;
  font-weight: 700;
}
aside.secondary .module.module-narrow .nums dd {
  font-size: 54px;
  font-weight: normal;
  margin-top: 10px;
}
aside.secondary .module.module-narrow .context-info {
  position: relative;
}
aside.secondary .module.module-narrow .context-info:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #004A61;
  display: block;
  top: 5px;
  right: -15px;
}
@media (min-width: 768px) and (max-width: 980px) {
  aside.secondary .module.module-narrow .context-info:after {
    left: 166px;
  }
}
@media (max-width: 768px) {
  aside.secondary .module.module-narrow .context-info:after {
    border: none;
  }
}
aside.secondary .module.module-narrow h2.module-heading {
  padding-left: 15px;
  border: none;
  background-color: #EEEEEE;
}
aside.secondary .module.module-narrow h2.module-heading .action {
  color: #333333;
}
aside.secondary .module.module-narrow.context-info h1.heading {
  font-size: 14px;
}
aside.secondary .module.module-narrow.context-info p {
  font-size: 13px;
}
aside.secondary .module.module-narrow .nav-simple > li,
aside.secondary .module.module-narrow .nav-aside > li {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  border-bottom: 1px dotted #CCCCCC;
}
aside.secondary .module.module-narrow .nav-simple > li a,
aside.secondary .module.module-narrow .nav-aside > li a {
  margin-left: 0;
  padding-left: 10px;
}
aside.secondary .module.module-narrow .nav-simple > li a:hover,
aside.secondary .module.module-narrow .nav-aside > li a:hover {
  color: #fff;
  background-color: #91A4AA;
}
aside.secondary .module.module-narrow .nav-item > a,
aside.secondary .module.module-narrow .nav-aside li a {
  margin: 0 0 0 10px;
  padding: 5px;
  font-size: 14px;
}
aside.secondary .module.module-narrow.social [class^="icon-"]:before {
  display: inline;
}
aside.secondary .module.module-narrow.social .fa-google-plus-square {
  border-radius: 100%;
  padding: 12px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #117799;
}
aside.secondary .module.module-narrow.social .fa-google-plus-square:before {
  content: "\f0d5";
}
aside.secondary .module.module-narrow.social .fa-google-plus-square:hover {
  background-color: #075D79;
}
aside.secondary .module.module-narrow.social .fa-twitter-square {
  border-radius: 100%;
  padding: 12px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #117799;
}
aside.secondary .module.module-narrow.social .fa-twitter-square:before {
  content: "\f099";
}
aside.secondary .module.module-narrow.social .fa-twitter-square:hover {
  background-color: #075D79;
}
aside.secondary .module.module-narrow.social .fa-facebook-square {
  border-radius: 100%;
  padding: 12px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #117799;
}
aside.secondary .module.module-narrow.social .fa-facebook-square:before {
  content: "\f082";
}
aside.secondary .module.module-narrow.social .fa-facebook-square:hover {
  background-color: #075D79;
}
aside.secondary .module.module-narrow.social .nav-simple {
  background-color: #EEEEEE;
  padding-bottom: 10px;
}
aside.secondary .module.module-narrow.social .nav-simple > li {
  padding: 15px 25px 5px;
}
@media (min-width: 768px) and (max-width: 980px) {
  aside.secondary .module.module-narrow.social .nav-simple > li {
    padding: 15px 23px 0;
  }
}
aside.secondary .module.module-narrow.social .nav-simple a {
  font-size: 0;
}
aside.secondary .module.module-narrow.social .nav-simple > li {
  width: 0;
  float: none;
  display: inline-block;
  border: none;
}
aside.secondary .module.module-narrow.social .nav-simple > li > a:hover {
  background-color: transparent;
}
aside.secondary .module.module-narrow.license a {
  font-size: 13px;
}
.dataset-subheading {
  display: block;
  color: #666;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 8px;
}
/* override for rua styling */
@media screen and (min-width: 1200px) {
  body h2 {
    line-height: 1.2;
  }
}
.account.authed ul {
  float: right;
  padding: 10px 0 10px 15px;
  border-radius: 0 0 10px 10px;
}
.account.authed li {
  display: inline-block;
  margin-right: 20px;
}
.account.authed a {
  color: #fff;
  font-weight: 300;
}
.form-horizontal .control-label {
  padding-top: 0;
  margin-top: 0;
  line-height: 1.2;
}
.simple-input .field input {
  margin: -5px 0;
  padding: 5px;
}
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'] {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 4px;
  padding: 0.9em;
  border: 2px solid #C3CED8;
  border-radius: 1.5em;
  background-color: #fff;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.3s ease, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.3s ease, -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.3s ease, box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.3s ease, box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.3s ease, box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.3s ease, -webkit-box-shadow 0.5s;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.42857;
  color: #182B46;
  padding: 0 0.9em;
  height: 2.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.js .image-upload .btn-remove-url {
  top: 9px;
  right: 12px;
}
.editor textarea {
  border: 2px solid #C3CED8;
  border-radius: 1.5em 1.5em 0 0;
  border-bottom: none;
}
body ul {
  line-height: 1;
  padding-left: 0;
}
body li {
  padding-left: 0;
}
#dataset-search-form {
  display: block;
}
.dataset-map-expanded #dataset-map {
  top: -636px;
}
@media (max-width: 990px) {
  .col-md-9.primary {
    float: unset;
  }
  #dataset-map {
    display: none;
  }
  .dataset-map-expanded {
    width: 100%;
    top: -405px;
  }
  .dataset-map-expanded .wrapper {
    margin-top: 0;
  }
  .dataset-map-expanded .wrapper > .secondary {
    margin-top: 420px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
header a:focus,
.account-masthead a:focus,
.breadcrumb a:focus,
.site-footer a:focus,
header .accordion-expand:focus,
.account-masthead .accordion-expand:focus,
.breadcrumb .accordion-expand:focus,
.site-footer .accordion-expand:focus,
header input:focus,
.account-masthead input:focus,
.breadcrumb input:focus,
.site-footer input:focus,
header input.form-control:focus,
.account-masthead input.form-control:focus,
.breadcrumb input.form-control:focus,
.site-footer input.form-control:focus,
header input[type="checkbox"]:focus,
.account-masthead input[type="checkbox"]:focus,
.breadcrumb input[type="checkbox"]:focus,
.site-footer input[type="checkbox"]:focus,
header input[type="text"]:focus,
.account-masthead input[type="text"]:focus,
.breadcrumb input[type="text"]:focus,
.site-footer input[type="text"]:focus,
header input[type="email"]:focus,
.account-masthead input[type="email"]:focus,
.breadcrumb input[type="email"]:focus,
.site-footer input[type="email"]:focus,
header input[type="radio"]:focus,
.account-masthead input[type="radio"]:focus,
.breadcrumb input[type="radio"]:focus,
.site-footer input[type="radio"]:focus,
header input[type="password"]:focus,
.account-masthead input[type="password"]:focus,
.breadcrumb input[type="password"]:focus,
.site-footer input[type="password"]:focus,
header .btn:focus,
.account-masthead .btn:focus,
.breadcrumb .btn:focus,
.site-footer .btn:focus,
header button:focus,
.account-masthead button:focus,
.breadcrumb button:focus,
.site-footer button:focus,
header select:focus,
.account-masthead select:focus,
.breadcrumb select:focus,
.site-footer select:focus,
header summary:focus,
.account-masthead summary:focus,
.breadcrumb summary:focus,
.site-footer summary:focus,
header textarea:focus,
.account-masthead textarea:focus,
.breadcrumb textarea:focus,
.site-footer textarea:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #FFFFFF !important;
  text-decoration: none !important;
}
#field-sitewide-search:focus {
  box-shadow: 0 0 0 3px white !important;
}
@media (max-width: 979px) {
  .masthead .nav > li > a:focus {
    background-color: #117799;
  }
}
